<% content_for :title, "Top" %>

<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-primary">PosiRem!</h1>
      <p class="py-6 text-xl text-neutral">
        「〜しないで」を「〜しようね」に。<br>
        AIが、子供に伝える言葉をポジティブな言葉に言い換えます。<br>
        イライラを優しさに変えて、親子の時間をもっと大切にしましょう。
      </p>
      <div class="mt-8">
        <%= link_to conversations_path, class: "btn btn-primary btn-lg text-primary-content font-bold" do %>
          <span class="material-symbols-rounded ms-size-24 md:ms-size-32">forum</span>
          始める
        <% end %>
      </div>
    </div>
  </div>
</div>